@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0 auto;
}
h1, h2, h3, h4, h5{
    font-family: Quicksand;
}
p{
    font-family: Raleway;
    color: rgb(128, 128, 128);
}
.text-color{
    color: #FEA301;
}
.text-color2{
    color: rgb(1, 172, 253);
}


/* Header section */
.flex{
    display: flex;
}
.nav-logo{
    font-family: Quicksand;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.nav-li li{
    list-style: none;
    margin: 0 .75rem;
}
.nav-li a{
    text-decoration: none;
    
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    width: 1100px;
    margin: 0 auto;
    margin-top: 13.28px;
}
.home a{
    color: rgb(254, 163, 1);
font-family: Quicksand;
font-size: 20px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: left;
}
.about a{
    color: rgb(1, 172, 253);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;
}
.Admission a{
    color: rgb(93, 88, 239);
font-family: Quicksand;
font-size: 20px;
font-weight: 500;
line-height: 30px;
text-align: left;}
.nav-btn{
    margin: 0;
}
.nav-btn button{
    padding: 15.117px 57px;
    border-radius: 5px;
    border: none;
    background-color: rgb(254, 163, 1);
    font-weight: 600;
    font-size: 19px;
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    
}
.nav-btn button:hover{
    padding: 15.117px 57px;
    border-radius: 5px;
    border: none;
    background-color: rgb(254, 163, 1);
    font-weight: 600;
    font-size: 19px;
    color: rgb(90, 86, 86);
    font-family: Quicksand;
    cursor: pointer;
}
.nav-btn img{
    display: none;
    width: 5rem;
    height: 4rem;
}


/* banner banner banner banner banner banner banner banner  */

.banner{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    gap: 47px;
    font-family: Quicksand;
}
.banner-text{
    display: flex;
    align-items: center;
}
.banner-text h1{
    font-size: 3.31rem;
    
}
.banner-text p{
    font-size: 1.2rem;
    margin: 8px 0;
}
.banner-text button{
    padding: 10px 44px;
    border-radius: 8px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(17, 17, 17);
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
   

}
.banner-text button:hover{
    padding: 10px 44px;
    border-radius: 8px;
    border: none;
    color: rgb(231, 71, 71);
    background-color: rgb(17, 17, 17);
    font-size: 19px;
    font-weight: 700;
    margin-top: 10px;
    cursor: pointer;

}
/* Standard Curriculum Standard CurriculumStandard Curriculum */
.Standard-Curriculum{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h1-text{
    font-size: 2.7rem;
    margin-top: 3.8rem;
    margin-bottom: 5rem;
}
.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
    justify-content: space-between;
    width: 1160px;
}
.card-box1, .card-box2, .card-box3{
    display: flex;
    flex-direction: column;
     padding: 40px;
    border-radius: 20px;
    gap: 20px;
}
.card-box1{
    background: linear-gradient(180.00deg, rgb(176, 191, 212),rgba(255, 255, 255, 0) 40%),rgb(250, 242, 242)
}
.card-box1 h3{
    color: rgb(228, 161, 75);
    cursor: pointer;
}
.card-box1 h3:hover{
    color: rgb(212, 138, 40);
}
.card-box2{
    background: linear-gradient(180.00deg, rgb(218, 138, 200),rgba(255, 255, 255, 0) 40%),rgb(250, 242, 242);
    gap:22px;
}
.card-box2 h3{
    color: rgb(240, 170, 0);
    cursor: pointer;
}
.card-box2 h3:hover{
    color: rgb(180, 128, 8);
}
.card-box3{
    background: linear-gradient(180.00deg, rgb(152, 240, 159),rgba(255, 255, 255, 0) 40%),rgb(250, 242, 242);
    
    
}
.card-box3 h3{
    color: rgb(135, 0, 255);
}
.card-box3 h3:hover{
    color: rgb(82, 5, 150);
    cursor: pointer;
}
.arrow-btn button{
    padding:5px 24px;
    border: none;
    border-radius: 40px;
    background-color: #FEA301;
    font-size: 50px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    margin: 3rem 0;
}
.arrow-btn button:hover{
    padding:5px 24px;
    border: none;
    border-radius: 40px;
    background-color: #FEA301;
    font-size: 50px;
    font-weight: 900;
    color: rgb(12, 12, 12);
    cursor: pointer;
}

/* Our-Stories Our-Stories Our-Stories */
.our-head{
    margin-bottom: 3rem;
    font-size: 4rem;
}
.Our-Stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../Image/bg.png);
    background: rgb(224, 142, 142);
    background: linear-gradient(0deg, rgb(216, 163, 65) 0%, rgba(250,251,247,1) 62%, rgba(255,253,248,1) 97%);
    /* margin: 1.5rem; */
}
.story-card{
    display: flex;
    /* width: 1095px; */
    margin: 0 auto;
    gap: 10px;
    padding: 10PX;
}
.story-card-clmn{
    display: grid;
    background-color: aliceblue;
    border-radius: 20px;
}
.card-clmn-date {
    background-color: rgb(149, 178, 38);
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: -18px;
    width: 145px;
}
.story-card-clmn h3{
    font-size: 1.5rem;
    margin-top: 2.5rem;
    margin-left: 2rem;
}
.story-card-clmn p{margin-top: 4rem;
    margin-left: 2rem;
   
}
.story-card-clmn2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#hide{
    display: none;
}
.story-mini-card{
    display: grid;
    margin-left: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: aliceblue;
    border: none;
    border-radius: 20px;
}
.Our-Stories img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.story-mini-card h3{
    margin: 30px;
}
.card-date{
    background-color: rgb(149, 178, 38);
    padding: 10px;
    border-radius: 20px;
    margin-left: 10px;
    margin-top: -18px;
}
.view-btn{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.view-btn button{
    padding: 10px 59px;
    border: none;
    border-radius: 5px;
    background-color: black;
    font-size: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;

}
.view-btn button:hover{
    padding: 10px 59px;
    border: none;
    border-radius: 5px;
    background-color: rgb(240, 239, 239);
    font-size: 20px;
    color: rgb(15, 15, 15);
    font-weight: 700;
    cursor: pointer;

}
/* Footer Footer Footer Footer Footer Footer Footer Footer Footer  */
.footer-area{
    display: flex;
    justify-content: space-between;
    padding: 10rem;
    background-color: rgb(1, 172, 253);
}
.f-container img, h1{
    margin: 0;
    padding: 0;
    /* padding: 1.2rem; */
}
.f-container p{
    margin-top: 2rem;
    font-size: 1.25rem ;
    color: white;
    font-weight: 400;
}
.kids-edu {
    display: flex;
}
.kids-edu h1{
    font-size: 2.6rem;
    color: aliceblue;
    font-weight: 700;
    
}
.f-container2 ul{
    padding: 0;
}
.f-container2 h2{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    
}

.f-container2 li{
    list-style: none;
    padding: 0;
    font-family: Quicksand;
    font-size: 1.25rem;
    margin-top: 1.4rem;
    color: rgb(255, 255, 255);
    font-weight: 500;

}
.f-container3 ul{
    display: flex;
    padding: 0;
    gap: 6px;
    margin-top: 2.5rem;

}
.f-container3 h2{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;

}
.f-container3 li{
        list-style: none;
        
}


/* Small devise Small devise Small devise Small devise */

@media screen and (max-width: 576px) {
    .nav-bar{
        width: auto;
        border-bottom: 2px solid #FEA301;
        padding-left: .5rem;
        padding-right: .5rem;
        padding-bottom: 15px;
        margin-bottom: 5px;
        m
    }
    .nav-bar h1{
        display: none
    }
    .banner img{
        width: 100%;
    }
    .banner{
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        margin: 5px 15px;
    }
    .banner-text button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }
    .nav-li li, .nav-btn button{
        display: none;
    }
    .nav-btn img{
        display: flex;
    }
    /* Standard CurriculumStandard Curriculum */
    .card{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        
    }
    .Standard-Curriculum{
        margin: 20px;
    }
    .arrow-btn{
        display: none;
    }
     
    /* Our StoriesOur StoriesOur StoriesOur StoriesOur StoriesOur Stories */
    .Our-Stories{
        margin: 0 auto;
    }
    .story-card{
        flex-direction: column;
    }
    #hide{
        display: grid;
    }
    .story-card-clmn{display: none;}
    .story-card-clmn2 {
                        grid-template-columns: repeat(2, 1FR);
                        width: 100%;
                        margin: 0 auto;
}
.Our-Stories img{
    width: 100%;
}
/* Footer Footer */
.footer-area{
    flex-direction: column;
    margin: 0 auto;
    padding: 05rem;
    gap: 2rem;
}
.f-container2, .f-container3{
    padding: 0;
    margin: 0;
}
}